*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

:root{
    --color-azul1: #0568A6;
    --color-azul2: #5496BF;
    --color-laranja1: #F28E13;
    --color-laranja2: #F2B05E;
    --color-atributos: #ffbd00;
    --color-cinza1: #99a2ae;
    --color-preto: #000000;
    --color-branco: #FFFFFF;
    --color-branco-50: #FFFFFF80


}